# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Database
*.sqlite
instance/

# Environment variables
.env
.venv

# Uploads
static/uploads/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/